* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.posts {
    margin-top: 30px;
}

.postcard {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.postvisibility {
    color: #888;
    font-size: 12px;
    margin-right: 10px;
}

.visibility {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textarea {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    resize: vertical;
    min-height: 100px;
}

.containerr {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0 auto;
    max-width: 500px;
}

.select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}